.cartCard {
  width: 330px;
  background-color: white;
  box-shadow: 0px 18px 18px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  display: block;
  transition-property: all;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttfunction);
  position: absolute;
  top: 100px;
  right: -60px;
}

.cartCard > div:first-child {
  width: 100%;
  padding: 1.3rem;
  border-bottom: 1px solid var(--mediumLightGreyshBlue);
}

.cartCard > div:first-child > p {
  font-weight: 700;
}

.thumbnail {
  border-radius: 0.5rem;
}

.descriptionContainer {
  padding: 1.3rem;
}

.itemContainer {
  display: flex;
  align-items: center;
}

.description {
  color: var(--darkGrayishBlue);
  padding: 0 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.checkoutButton {
  margin-top: 1.5rem;
}

.total {
  font-weight: 700;
}

.deleteIcon {
  fill: #c3cad9;
  display: block;
  transition-property: fill;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttfunction);
}

.emptyCart {
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyCart > p {
  font-weight: 700;
  color: var(--darkGrayishBlue);
}

.iconButton {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.iconButton:hover .deleteIcon {
  fill: var(--veryDarkBlue);
}

@media (max-width: 1350px) {
  .cartCard {
    right: 0;
  }
}

@media (max-width: 1180px) {
  .cartCard {
    right: 2rem;
  }
}
