.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.562);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.modalContainer {
  position: relative;
}

.IconButton {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;

  top: calc(600px / 2 - (50px / 2));
}

.next {
  right: -25px;
}

.next > svg {
  margin-left: 4px;
}

.prev {
  left: -25px;
}

.prev svg {
  margin-right: 4px;
}

.IconButton:hover .chevronIcon {
  stroke: var(--orange);
}

.IconButton > svg {
  stroke: #1d2026;
  transition: var(--transition);
}

.closeIcon {
  fill: white;
  transform: scale(1.6);
  vertical-align: bottom;
  transition: var(--transition);
}

.closeButton {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  width: 22.4px;
  height: 24px;
  right: 0;
  top: -50px;
  cursor: pointer;
}

.closeButton:hover .closeIcon {
  fill: var(--orange);
}

.productImage {
  width: 600px;
  height: 600px;
}

.productImage + div {
  justify-content: center;
}

.productImage + div > button {
  margin: 0 1rem;
}
