.navbarContainer {
  height: 120px;
}

.navbarContainer nav {
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--mediumLightGreyshBlue);
  position: relative;
}

.navbarContainer nav > img:first-child {
  margin-top: 6.2px;
  margin-right: 1rem;
  display: none;
  cursor: pointer;
}

.navbarContainer ul {
  display: flex;
  height: 100%;
}

.navbarContainer li {
  list-style: none;
  margin-left: 2.5rem;
  height: 100%;
}

.menuItem {
  background: none;
  outline: none;
  border: none;
  color: var(--darkGrayishBlue);
  font-size: 1rem;
  cursor: pointer;
  height: 100%;
  border-bottom: 0.3rem solid transparent;
  transition-property: color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttfunction);
}

.menuItem:hover,
.menuItem:focus-visible {
  color: var(--veryDarkBlue);
  border-bottom: 0.3rem solid var(--orange);
}

.navbarContainer > nav > div > img {
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition-property: border;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttfunction);
}

.navbarContainer > nav > div > img:hover {
  border-color: var(--orange);
}

.cartAvatarContainer {
  display: flex;
  margin-left: auto;
  height: 100%;
  align-items: center;
}

.popper {
  margin-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.cartButton {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  border: none;
}

.cartButton:focus-visible {
  outline: 2px solid var(--orange);
}

.cartButton > div {
  position: absolute;
  height: 13px;
  width: 18px;
  background-color: var(--orange);
  border-radius: 10px;
  top: 10px;
  right: 8px;
  font-size: 0.7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.cartIcon {
  fill: #69707d;
  transition-property: fill;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttfunction);
  position: absolute;
  top: calc(50% - (var(--cart-icon-height) / 2));
  left: calc(50% - (var(--cart-icon-width) / 2));
}

.cartIcon.fill {
  fill: var(--veryDarkBlue);
}

@media (max-width: 1140px) {
  .navbarContainer nav {
    padding: 0 1rem;
  }
}

@media (max-width: 820px) {
  .navbarContainer {
    height: 80px;
  }

  .navbarContainer ul {
    display: none;
  }

  .navbarContainer nav > img:first-child {
    display: block;
  }
}
