.largeImage {
  border-radius: 1rem;
  transition: var(--transition);
  width: 450px;
  height: 450px;
  vertical-align: bottom;
}

.thumbnailContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.overlay {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition);
  outline: none;
  border: none;
}

.overlay.active {
  background-color: rgba(255, 255, 255, 0.6);
}

.overlay:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.thumbnail {
  vertical-align: bottom;
}

.thumbnailButton {
  position: relative;
  outline: none;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: var(--transition);
  background-color: transparent;
}

.thumbnailButton:hover {
  cursor: pointer;
}

.thumbnailButton.active {
  border: 2px solid var(--orange);
}

.imageButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
