.largeImage {
  border-radius: 1rem;
  transition-property: all;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttfunction);
  width: 450px;
  height: 450px;
  vertical-align: bottom;
}

.thumbnailContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.overlay {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: background-color;
  transition-duration: var(--tduration);
  transition-timing-function: var(--ttfunction);
  outline: none;
  border: none;
}

.overlay.active {
  background-color: rgba(255, 255, 255, 0.6);
}

.overlay:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.thumbnail {
  vertical-align: bottom;
  width: 90px;
  height: 90px;
}

.thumbnailButton {
  position: relative;
  outline: none;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: transparent;
}

.thumbnailButton:focus-visible {
  outline: 2px solid var(--orange);
}

.thumbnailButton:hover {
  cursor: pointer;
}

.thumbnailButton.active {
  border: 2px solid var(--orange);
}

.imageButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .largeImage {
    width: 400px;
    height: 400px;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
  }
}
